menu "TOUCH-PAD Configuration"

   config TOUCH_PAD_NUMBER
        int "Numero de Touch Pad (GPIO)"
        range 0 9
        default 2
        help
            Selecciona el numero del sensor touch (p.e. 2 para GPIO2).

    config TOUCH_THRESH_FACTOR
        int "Factor de Umbral (%)"
        range 0 100
        default 80
        help
            Porcentaje del valor de referencia (baseline) para disparar la deteccion.

    config TIME_THRESHOLD_MS
        int "Tiempo de activacion requerido (ms)"
        range 0 10000
        default 1500
        help
            Milisegundos que el sensor debe estar presionado para enviar la alerta.
            
endmenu
