menu "Example Configuration"
	menu "WiFi Known Networks :)"
		config WIFI_KNOWN_NETWORKS_NUM
		    int "Number of known WiFi networks"
		    range 1 3
		    default 3

		config WIFI_KNOWN_SSID_1
		    string "SSID for network 1"
		    default "SSID_LABORATORIO"

		config WIFI_KNOWN_PASS_1
		    string "Password for network 1"
		    default "PASSWORD_LAB"

		config WIFI_KNOWN_PRI_1
		    int "Priority for network 1 (1=highest)"
		    default 1

		config WIFI_KNOWN_SSID_2
		    string "SSID for network 2"
		    default "SSID_MOVIL"

		config WIFI_KNOWN_PASS_2
		    string "Password for network 2"
		    default "PASSWORD_MOVIL"

		config WIFI_KNOWN_PRI_2
		    int "Priority for network 2"
		    default 2

		config WIFI_KNOWN_SSID_3
		    string "SSID for network 3"
		    default "SSID_DOMICILIO"

		config WIFI_KNOWN_PASS_3
		    string "Password for network 3"
		    default "PASSWORD_CASA"

		config WIFI_KNOWN_PRI_3
		    int "Priority for network 3"
		    default 3
	endmenu
	
    config EXAMPLE_SCAN_LIST_SIZE
        int "Max size of scan list"
        range 0 20
        default 10
        help
            The size of array that will be used to retrieve the list of access points.

    config EXAMPLE_USE_SCAN_CHANNEL_BITMAP
        bool "Scan only non overlapping channels using Channel bitmap"
        default 0
        help
            Enable this to scan only the non overlapping channels i.e 1,6,11 by mentioning a channel bitmap
            in scan config. If you wish to scan a different set of specific channels, please edit the channel_list
            array in scan.c. Channels for a 2.4 ghz network range should range from 1-14.
endmenu
